---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostsList from '../../../components/PostsList.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('publicaciones');
  const tags = [...new Set(posts.flatMap(p => p.data.tags ?? []))];
  return tags.flatMap(tag =>
    paginate(posts.filter(p => p.data.tags?.includes(tag)), {
      params: { tag },
      pageSize: 6,
    })
  );
}

const { page } = Astro.props;
---
<BaseLayout title={`Etiqueta: ${page.params.tag}`}>
  <h1 class="mb-4">Etiqueta: {page.params.tag}</h1>
  <PostsList page={page} />
</BaseLayout>

