---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import LatestPosts from '../components/LatestPosts.astro';

const pageTitle = 'Matemáticas, Física y Química';
const pageDescription = 'Publicaciones educativas con apoyo visual y videos'
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>

  <Hero /> 

  <section>
    <Features />
    <h2 class="mb-4">Publicaciones recientes</h2>
    <LatestPosts />
  </section>
</BaseLayout>

