---
import BaseLayout from '../layouts/BaseLayout.astro';
import Features from '../components/Features.astro';
import LatestPosts from '../components/LatestPosts.astro';

const pageTitle = 'Matemáticas, Física y Química';
const pageDescription = 'Publicaciones educativas con apoyo visual y videos'
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <!--<section class="mb-5 text-center">
    <h1 class="display-5">{pageTitle}</h1>
    <p class="lead">{pageDescription}</p>
  </section>-->

  <section>
    <Features />
    <h2 class="mb-4">Publicaciones recientes</h2>
    <LatestPosts />
  </section>
</BaseLayout>

