--- 
--- 

<div class="row rounded signature">
  <div class="col-xs-12 text-center text-sm-start col-sm-4 col-md-3 col-lg-3 col-xl-2">
    <img 
      class="rounded-circle signature__image" 
      src="http://cesarvargasmachuca.com/img/profile.png" 
      alt="César Vargas-Machuca"
    >
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-10">
    <div class="h5 text-center text-sm-start signature__name">César Vargas-Machuca</div>
    <div class="small text-center text-sm-start signature__info">Placeat ipsum sed suscipit quidem voluptates dolor, nihil fugit, velit repellendus quas nostrum nam autem a iste voluptas corrupti inventore assumenda? Non?</div>
  </div>
</div>

<style>
.signature {
  align-items: center;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}
.signature__image {
  max-width: 100%;
}
.signature__image {
  filter: grayscale(1);
}
</style>
