--- 
--- 

<div class="col-lg-8 offset-lg-2 rounded signature">
  <div class="row">
    <img 
      class="col-2 rounded-circle" 
      src="http://cesarvargasmachuca.com/img/profile.png" 
      alt="César Vargas-Machuca"
    >
    <div class="col-10">
      <div class="h5 signature__name">César Vargas-Machuca</div>
      <div class="small signature__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsum sed suscipit quidem voluptates dolor, nihil fugit, velit repellendus quas nostrum nam autem a iste voluptas corrupti inventore assumenda? Non?</div>
    </div>
</div>

<style>
.signature {
  background-color: lightgray;
  padding: 1rem;
}
</style>
