--- 
import { SITE } from '../data/consts.ts'
import Logo from '../components/Logo.astro'
--- 

<div class="brand">
  <div class="brand__logo">
    <Logo />
  </div>
  <div class="brand__sitename">
    {SITE.title}
  </div>
</div>

