--- 
import { COPYRIGHT, LOCATION } from '../data/consts.ts'
--- 

<div id="copyright">
  <div class="container">
    <div class="row copyright">
      <small>
        &copy; <span id="jCurrentYear"></span> {COPYRIGHT.owner}. {COPYRIGHT.notice}. {LOCATION.city} - {LOCATION.country}.
      </small>
    </div>
  </div>
</div>
