---
import menu from '../data/mainmenu.json';
---
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Profesor César Online</a>
    <ul class="navbar-nav ms-auto">
      {menu.map(item => (
      <li class="nav-item">
        <a class="nav-link" href={item.url}>{item.label}</a>
      </li>
      ))}
    </ul>
  </div>
</nav>

