---
import PostCard from './PostCard.astro';
import Pagination from './Pagination.astro';

const { page, posts } = Astro.props;
const items = page?.data ?? posts ?? [];
---

<div class="row g-4">
  {items.map(post => (
    <div class="col-md-4">
      <PostCard post={post} />
    </div>
  ))}
</div>

{page && <Pagination page={page} />}

