---
import PostCard from './PostCard.astro';

const { posts } = Astro.props;
---

{posts.length > 0 && (

<div id="related" class="related">
  <div class="container">
    <div class="row">
      <section class="mt-5">
        <h2 class="mb-4">Publicaciones relacionadas</h2>
        <div class="row g-4">
          {posts.map(post => (
          <div class="col-md-6 col-lg-3">
            <PostCard post={post} />
          </div>
          ))}
        </div>
      </section>
    </div>
  </div>
</div>

)}

