---
import { getYouTubeId } from '../utils/youtube';

const { id } = Astro.props;
const videoId = getYouTubeId(id);
---

{videoId && (
  <div class="ratio ratio-16x9">
    <iframe class="rounded"
      src={`https://www.youtube.com/embed/${videoId}`}
      title="YouTube video"
      loading="lazy"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
)}

